.sb-modal-container{
	background: black;
}

#sb-add-event-bands-container{
	width: 100%;
	max-width: none;
}

body{
	.select2-container{
		.select2-dropdown{
			background-color: $jet;
			
			.select2-search__field{
				background-color: rgba(255,255,255,0.1);
				color: $ghost;
			}
		}
	}
}



//#sb-venue-section{
	#map {
		height: 100%;
	}

	.controls {
		margin-top: 10px;
		border: 1px solid transparent;
		border-radius: 2px 0 0 2px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 32px;
		outline: none;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	}

	#pac-input {
		background-color: #fff;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
		margin-left: 12px;
		padding: 0 11px 0 13px;
		text-overflow: ellipsis;
		width: 300px;
	}

	#pac-input:focus {
		border-color: #4d90fe;
	}

	.pac-container {
		font-family: Roboto;
	}

	#type-selector {
		color: #fff;
		background-color: #4d90fe;
		padding: 5px 11px 0px 11px;
	}

	#type-selector label {
		font-family: Roboto;
		font-size: 13px;
		font-weight: 300;
	}
	
    #target {
      width: 345px;
    }
//}