{% extends "base.html" %}

{% block title %}Event{% endblock %}

{% block head %}
    {{ parent() }}
	
	<!-- May need to add some stuff later.. -->
{% endblock %}

{% block content %}
    <section class="sb-event-section sb-page-primary-section" id="sb-event-section">

		<article class="sb-event-container sb-page-primary-container">
			<div class="row">
				<div class="small-8 columns">
					<h1>{{event['title']}}</h1>
					{% if event['subtitle'] is not empty %}
						<h4>{{event['subtitle']}}</h4>
					{% endif %}
				</div>
				<div class="small-4 columns">
					{% if session.is_auth and session.account.privilege_level >= 2 %}
						<button data-reveal-id="sb-modal-update-event" class="right">
							<i class="fa fa-pencil"></i>
							Edit Event
						</button>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="small-5 columns">
					<h6>{{event['start']|date('D, M d h:ia', timezone="America/Los_Angeles")}}</h6>
					<h6>{{event['start']|date('h:ia', timezone="America/Los_Angeles")}} - {{event['end']|date('h:ia', timezone="America/Los_Angeles")}}</h6>
					{% for venue in event['venues'] %}
						<a href="venue/{{venue['id']}}">{{venue['title']}}</a>
					{% endfor %}
				</div>
				
				<div class="small-7 columns">
					<label>Price: {{event['price']}}</label>
					<label>Ages: {{event['age']}}</label>
					{% if event['ticket_url'] %}
						<label>Tickets: <a href="{{event['ticket_url']|e('html_attr')}}" target="_blank">Available Here</a></label>
					{% endif %}
					
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<hr/>
					<p>{{event['description']}}</p>
					<p>{{event['instructions']}}</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">	
					<h4>Acts</h4>
					<ul>
					{% for act in event['acts'] %}
						<li>
							{{act['slot']|date('h:ia', timezone="America/Los_Angeles")}}: <a href="act/{{act['id']}}">{{act['title']}}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</article>
		
	</section>	
{% endblock %}

{% block modals %}

{% endblock %}


{% block scripts %}
    {{ parent() }}

{% endblock %}