{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ parent() }}
	<!-- May need to add some stuff later.. -->
{% endblock %}

{% block content %}
    <section class="sb-home-section sb-page-primary-section" id="sb-home-section">

		<article class="sb-home-container sb-page-primary-container">
			<div class="row">
				<div class="small-12 columns">
					cool story bro
				</div>
			</div>
		</article>
		
	</section>	
{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}